.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #f9f9f9;
  border-radius: 4px;
  color: #545454;
}

.form__item,
.form__label {
  display: flex;
  margin: 0;
}

.form__item:first-child {
  margin-bottom: 10px;
}

.form__label {
  align-items: center;
  border-radius: 4px;
}

.form__label:nth-child(1) {
  flex-grow: 1;
  margin-right: 20px;
}

.form__input {
  margin-left: 10px;
  &:nth-child(1) {
    flex-grow: 1;
  }
}


