.table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  font-size: 13px;
  color: #545454;

  & th,
  & td {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
  }

  & th {
    font-weight: normal;
    border-top: 1px solid #e0e0e0;
  }

  & label {
    display: inline-block;
    color: inherit;
  }

  & [hidden] {
    display: none;
  }
}

.table__row--even {
  background: #f1f1ec;
}

.table__row--odd {
  background: #f6f6f6;
}

.table__row--header {
  background: #a9bcca;
  color: #fff;
}

