.table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  font-size: 13px;
  color: #545454;

  & th,
  & td {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
  }

  & th {
    font-weight: normal;
    border-top: 1px solid #e0e0e0;
  }

  & td {
    cursor: pointer;
  }

  & label {
    display: inline-block;
    color: inherit;
  }

  & [hidden] {
    display: none;
  }
}